<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title>Make 24: The Game</title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/">Make 24: The Game</a></h>
		</hgroup>
	</header>
	<div id="main">
		<%= yield %>
	</div>
</body>
</html>